@import "../variables/colors";

@mixin standard-btn {
  cursor: pointer;
  color: #fff;
  padding: 10px;
  background-color: $btn-color;
  outline: none;
}

@mixin container-standard {
  min-height: 100vh;
  max-width: 100vw;
  margin: 1em;
  padding: 1em;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
