.container-checkout {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  form {
    @include flex-column;
  }
  h2 {
    padding-top: 1em;
  }

  .cart-item {
    padding: 1em;
    @include flex-row;
    align-items: center;

    .left,
    .rigth {
      @include flex-column;
      width: 50%;
    }

    img {
      width: 50px;
    }
  }

  .shipping {
    @include flex-column;
    margin-top: 1em;
    padding: 1em;

    h3 {
      padding-bottom: 1em;
    }

    button {
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em;
    }
  }
}

.box-breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: left;
}
