.container-checkout {
  @include container-standard;
  @include flex-column;
  align-items: center;
  form {
    @include flex-column;
  }
  h2 {
    padding-top: 1em;
  }

  .shipping {
    @include flex-column;
    margin-top: 1em;
    padding: 1em;
    align-items: center;

    h3 {
      padding-bottom: 1em;
    }

    button {
      @include standard-btn(10em);
    }
  }
}
