.container-checkout {
  @include container-standard;
  @include flex-column;
  align-items: center;

  h2 {
    padding-top: 1em;
  }

  .shipping {
    @include flex-column;
    margin-top: 1em;
    padding: 1em;
    align-items: center;
    form {
      @include flex-column;
      width: 500px;
      border: 1px solid rgba(0, 0, 0, 0.703);
      padding: 1em;
    }
    h3 {
      padding: 1em 0 1em 0;
      margin-bottom: 1em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.703);
      text-align: center;
    }

    label {
      padding-bottom: 1em;
    }

    input {
      padding: 5px;
    }

    button {
      @include standard-btn(10em);
      margin-left: 35%;
    }
  }
}
