.container-home {
  @include flex-column;
  @include container-standard;
  align-items: center;
  justify-content: center;

  .menu-box-homepage {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    margin-top: -1em;
    margin-bottom: 1em;
  }
  .categorys ul,
  .categorys li {
    @include flex-row;
    align-items: center;
    list-style-type: none;
    padding-left: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .search-filter-box {
    @include flex-column;
    justify-content: left;
  }

  .content {
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 0 0 1em 0;
  }

  .container {
    min-height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    padding: 1em;
  }
  .search-container {
    display: flex;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    .search-field {
      border: none;
      outline: none;
      color: #575757;
    }

    .search-button {
      background-color: #fff;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }

  .filter-color ul {
    @include flex-row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5px;
  }

  .filter-category ul {
    list-style-type: none;
    padding: 5px;
  }

  .filter-container {
    @include flex-column;
    align-items: end;
    justify-content: left;
    position: fixed;
    background-color: #0e0e0e7c;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;

    .filter {
      background-color: #ebebeb;
      height: 100%;
      padding: 2em;
      width: 30%;

      .filter-options {
        @include flex-column;
        padding: 2em;

        h1,
        p {
          padding: 5px;
        }

        .buttons {
          @include flex-row;

          button {
            @include standard-btn(10em);
          }
        }
      }
    }
  }

  .sort-and-filter-btns {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    width: 80vw;
    .sort-button,
    .filter-button {
      @include standard-btn(15em);
    }
  }
}
