.container-home {
  @include flex-column;
  @include container-standard;
  align-items: center;
  justify-content: center;

  .menu-box-homepage {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin-bottom: 1em;
  }
  .categorys ul,
  .categorys li {
    @include flex-row;
    align-items: center;
    list-style-type: none;
    padding-left: 10px;
    font-weight: bold;
  }

  .search-filter-box {
    @include flex-column;

    justify-content: left;
  }

  .content {
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 0 0 1em 0;
  }
  .search-container {
    display: flex;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    .search-field {
      border: none;
      outline: none;
      color: #575757;
    }

    .search-button {
      background-color: #fff;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }

  .filter-color ul {
    @include flex-row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5px;
  }

  .filter-category ul {
    list-style-type: none;
    padding: 5px;
  }

  .filter-container {
    @include flex-column;
    align-items: end;
    justify-content: left;
    position: fixed;
    background-color: #0e0e0e7c;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;

    .filter {
      background-color: #ffffff;
      height: 100%;
      padding: 2em;
    }
  }
  .fade-in {
    opacity: 10;
    transition: opacity 5.5s ease-in-out;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 5.5s ease-in-out;
  }

  .sort-and-filter-btns {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    width: 80vw;

    button {
      background-color: #fff;
      /*     border: 1px solid black; */
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      width: 15em;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
