.container-orderConfirmation {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  margin: 1em;
  padding: 1em;
}
