.container-shoppingcart {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;

  .box-breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  h2 {
    padding-top: 1em;
  }
  .cart-btns {
    @include flex-row;
    .btn-cart {
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em;
    }
  }
}
