.container-shoppingcart {
  @include container-standard;
  @include flex-column;
  align-items: center;

  h2 {
    padding-top: 1em;
  }

  .update-cartitem-btn {
    @include flex-row;
    margin-top: 1em;
    align-items: center;
    button {
      border: none;
      background-color: inherit;
      padding-top: 1em;
    }
    p {
      padding: 1.5em 1em 1em 1em;
      font-size: 18px;
      text-align: center;
    }
  }
  .total-cost {
    padding: 1em;
  }
  .cart-btns {
    @include flex-row;
    align-items: center;
    justify-content: center;
    .btn-cart {
      @include standard-btn(10em);
    }
  }

  .remove-button {
    border: none;
    background-color: inherit;
    padding: 1em;
  }
}
