header {
  @include flex-column;
  width: 100%;
  align-items: center;
  .title {
    text-align: center;
    width: 100%;
  }
  nav {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    ul,
    li {
      @include flex-row;
      list-style-type: none;
      align-items: center;
      padding-left: 10px;
    }
  }

  .header-messages {
    width: 100%;
    display: flex;
    background-color: rgba(99, 89, 108, 0.566);
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
}
