header {
  @include flex-column;

  align-items: center;
  justify-content: center;
  height: 10em;
  width: 100%;

  .title {
    border-bottom: 3px solid $primary-color;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
  }
  nav {
    @include flex-row;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid $primary-color;
    width: 100%;
  }
  ul,
  li {
    @include flex-row;
    list-style-type: none;
    padding: 10px;
  }
}
