.cart-item {
  padding: 1em;
  @include flex-row;
  align-items: center;

  .left,
  .rigth {
    @include flex-column;
    width: 50%;
  }
  .add-to-cart-container {
    ul,
    li {
      display: flex;
      align-items: center;
    }
  }

  .input-number {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 3em;
  }

  .remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ff0000d4;
    color: #181717;
    border: 1px solid #ff0000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
  }
  .btn {
    margin-left: 1em;
    @include flex-row;
  }
  img {
    width: 50px;
  }
}
