@import "colors";
@import "mixes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

footer {
  height: fit-content;
  background-color: rgb(138, 192, 212);
  margin: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

header {
  @include flex-row;
  background-color: $primary-color;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  height: 5em;

  nav,
  ul,
  li {
    @include flex-row;
    list-style-type: none;
    padding: 10px;
  }
}

form {
  @include flex-column;
}

img {
  width: 200px;
}

.img-product {
  width: 400px;
}

.list {
  padding: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.layout {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.menu-categories {
  ul,
  li {
    @include flex-row;
    list-style-type: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
}
.box-breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: left;
}

.container-home {
  @include flex-row;
  @include container-standard;

  .aside {
    @include flex-column;
    width: 20%;
    background-color: $secondary-color;
  }
  .content {
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 1em 0 1em 0;
  }
  .search-container {
    display: flex;
    max-width: 400px;
  }

  .search-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .search-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
  }

  /* Optional: Hover effect on the button */
  .search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .filter-color ul {
    @include flex-row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5px;
  }

  .filter-category ul {
    list-style-type: none;
    padding: 5px;
  }
}

.input-number {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 3em;
}

.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ff0000d4;
  color: #181717;
  border: 1px solid #ff0000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.info {
  display: flex;
  margin: 5em;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.container {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em;
  padding: 2em;
  align-items: center;
  justify-content: space-evenly;
}

.container-checkout {
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  align-items: center;
}

.container-product {
  @include container-standard;
  @include flex-column;
  margin: 2em;
  padding: 1em;
  align-items: center;
  .product {
    margin: 1em;
    padding: 1em;
    @include flex-column;
  }
  .add-to-cart-container {
    display: flex;
    max-width: 200px;
  }

  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    width: 7em;
  }
}

.card {
  @include flex-column;
  margin: 1em;

  button {
    @include standard-btn;
    width: 5em;
  }
}
